// Fonts
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), url(http://fonts.gstatic.com/s/raleway/v9/0dTEPzkLWceF7z0koJaX1A.woff2) format('woff2'), url(http://fonts.gstatic.com/s/raleway/v9/IczWvq5y_Cwwv_rBjOtT0w.woff) format('woff');
}

h1,h2,h3,h4,h5,h6{
	font-family: Raleway,sans-serif;
}

a:focus {
	text-decoration: none !important;
}

body{
	font-family: "Open Sans",sans-serif;
	font-size:16px;
}
div[class^='col-'] {
	padding: 0px 20px;
}

// Forms
.form-control:focus{
	box-shadow:none;
	border:1px solid #ccc;
}

.evo_container__page_top {
	margin-top: 20px;
	margin-bottom: 20px;
	.widget--social-media-links {
		text-align: right;
	}
}
.evo_container__page_top {

}
.nav.nav-tabs {
	margin-top: 0;
}

.headpicture{
	position:relative;
	height:300px!important;
	overflow:hidden;
	vertical-align:center;
	text-align:center;
	width:100%;
	.subcentered{
		display:table;
		position:absolute;
		left:0;
		top:0;
		height:300px;
		z-index:1000;
		width:100%;
		.centered{
			display:table-cell;
			vertical-align:middle;
			text-align:center;
			margin:0 auto;
		}
	}
	img.bg-image{
		width:100%;
		top: -150px;
		position:absolute;
		left:0; 
		min-width: 100%;
		min-height: 100%;
	}
}

.sitewide_header{
	margin:0!important;
}
.widget--social-media-links a{
    background: #666 none repeat scroll 0 0!important;
}
ul.pager{
	padding-top: 20px;
	margin-top: 32px;
	li.next,li.previous{
		a {
			padding: 5px 0px;
		}
		a,a:hover{
			border:0;
			background:transparent;
		}
		a:hover{
			text-decoration:underline;
		}
	}
}

.top-menu{
	box-shadow:none;
	text-shadow:0 0 0px #000;
	ul{
		list-style-type:none;
		margin:0;
		li{
			padding:14px 0px;
			float:left;
			list-style-type:none;
			a{
				padding:14px 13px;
				text-shadow:0 0 0px #000;
			}
			a:hover{
				text-decoration:none;
			}
			:hover a{
				text-shadow:0 0 0px #000;
				background:transparent;
			}
		}
		a.selected{
			font-weight:400;
		}
	}
}

h1{
	font-family: Raleway,sans-serif;
	font-size: 32px;
	font-weight: normal;
}

.panel{
	border: 0;
	box-shadow:none;
	font-size:90%;
	.panel-heading{
		background-color: transparent;
		border-color: transparent;
		padding:0;
		h4{
			font-size: 22px;
			margin: 0 0 10px;
		}
	}
	.panel-body{
		ul{
			margin:0;
			padding:0 0 0 40px;
		}
		a{
			
		}
	}
}

// Login widget form
.widget_core_user_login {
	#login_form {
		.form-group {
			margin: 0;
		}
		label {
			text-align: left;
			width: 160px;
			padding-left: 0;
		}
		.controls {
			padding: 0;
			width: 100%;
		}
		.form_text_input.form-control {
			width: 100%;
		}
	}
	.submit {
		font-size: 12px;
	}
	.field_login_btn {
		.panel {
			margin: 0;
			border: none;
			border-radius: 0;
			box-shadow: none;
			.panel-body {
				padding-left: 0;
				padding-right: 0;
				padding-bottom: 0;
				#submit_login_form {
					margin-right: 10px;
				}
			}
		}
	}
	.register_link {
		display: block;
		padding-top: 10px;
	}
}

// Register widget form
.widget_core_user_register {
	#register_form {
		.form-group {
			margin: 0;
		}
		label {
			text-align: left;
			width: 160px;
			padding-left: 0;
		}
		.controls {
			padding: 0;
			width: 100%;
		}
		.form_text_input.form-control {
			width: 100%;
		}
	}
	.submit {
		font-size: 12px;
	}
	.field_register_btn {
		.panel {
			margin: 0;
			border: none;
			border-radius: 0;
			box-shadow: none;
			.panel-body {
				padding-left: 0;
				padding-right: 0;
				padding-bottom: 0;
				#submit_login_form {
					margin-right: 10px;
				}
			}
		}
	}
}

// Profile tabs on ?disp=profile
ul.profile_tabs {
	margin: 0 2ex 2ex;
	position: relative;
	top: 1px;
}

.profile_avatar {
	float: right;
	padding: 10px;
	margin-left: 10px;
}

// Set border color of form the same as profile tabs
div.bComment, form.bComment {
	padding: 1em;
	.controls textarea.form-control {
		width: 100%;
	}
}

// A search button
input.search_field {
	margin-bottom: 0;
	display: inline-block;
}
form.search .search_options {
	width: 100%;
	.search_option input {
		margin-right: 5px;
	}
	.search_option label {
		margin-bottom: 0;
		margin-top: 5px;
	}
}
div.compact_search_form {
	input.search_field {
		width: 100%;
		margin: 0;
	}
}
div.extended_search_form {
	text-align: center;
	margin: 0 auto 2em auto;
	.search_options {
		text-align: center;
		.search_option {
			display: inline-block;
			margin-right: 10px;
		}
	}
	// Search disp form
	.input-group {
		width: 100%;
	}
	input.search_field {
		width: 100% !important;
		border-radius: 6px !important;
		-webkit-box-shadow: none;
		box-shadow: none;
		-webkit-transition: none;
		-o-transition: none;
	}
	input.search_submit {
		display: none;
	}
}

// Table for select categories of item
table.catselect {
	input#new_category_name {
		width: 98% !important;
	}
}

// Form elements on item edit page
label.control-label[for=post_title] {
	width: auto;
}
.item_tags {
	td.label {
		background: none;
		color: #000;
		text-shadow: none;
		padding: 0;
		font-size: 100%;
	}
	td.input {
		width: 90%;
		label {
			display: none;
		}
	}
	.controls {
		margin-left: 0;
	}
}

// A form to create a new message/thread
.messages_list form.bComment {
	background: none;
}
textarea.message_text {
	width: 95%;
}

// Fix the form elements
.comment_form {
	h3 {
		margin: 0;
	}
	.panel {
		margin: 0;
		border: none;
		-webkit-box-shadow: none;
		box-shadow: none;
		.panel-body {
			padding: 0;
		}
	}
}
form.bComment {
	border: none;
	padding: 0;
	overflow: visible;
	.form-actions {
		margin-bottom: 0;
	}
	legend {
		padding: 0 10px;
	}
	div.form-group, div.custom_content {
		padding: 0 20px;
	}
	fieldset {
		margin-top: 0;
	}
	input[type=file] {
		display: inline;
	}
}
#comment_date_field {
	input {
		width: 80px;
	}
	label {
		font-weight: normal;
	}
}
.form-group[id^="ffield_uploadfile"] .controls {
	padding-top: 5px;
	input {
		line-height: 10px;
	}
}
// Comment template
.comment_rating {
	margin-top: 2px;
}
#comment_edit .comment_rating {
	margin-top: 9px;
}
.ratings_table {
	margin-bottom: 10px;
	.rating_summary {
		display: none;
	}
	.rating_summary_total {
		padding-left: 0px;
		padding-bottom: 20px;
	}
	.progress {
		border-radius: 0;
		height: 13px;
	}
}
#comment_date_field .panel {
	border: none;
	box-shadow: none;
	margin-bottom: 0;
	.panel-body {
		padding: 0;
		.control-label {
			font-weight: bold;
		}
		.controls .form-group {
			display: inline-block;
			padding-left: 15px;
			margin-bottom: 0;
		}
	}
}

.evo_post, .search_result {
	margin-bottom: 2em;
	padding-bottom: 2em;
	
	h2 a:hover, .search_title a {
		text-decoration: none;
		transition: 0.2s ease;
	}
	.bTitle {
		margin: 0;
	}
	.small {
		a, a .glyphicon {
			font-family: "Open Sans",sans-serif;
			font-weight: normal;
		}
		span {
			font-weight: normal;
		}
	}
	.tags {
		margin-bottom: 5px;
		margin-top: 15px;
		a {
			padding: 2px 5px;
			border-radius: 4px;
			margin: 0px 5px 5px 0px;
			display: inline-block;
			&:hover {
				text-decoration: none;
			}
		}
	}
	.evo_post__full {
		margin-top: 30px;
	}
	.evo_post__full_text p:last-of-type {
		display: inline;
	}
	.evo_post_more_link {
		display: inline;
		margin-left: 5px;
	}
}
.search_result {
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	.result_content {
		margin-top: 15px;
	}
	.search_title a:hover {
		text-decoration: underline;
	}
	.search_info.dimmed {
		margin-top: 15px;
		font-style: italic;
		img {
			display: none;
		}
		a, span {
			font-weight: 400;
		}
	}
	&:first-of-type {
		margin-top: 2em !important;
	}
}
form#user_checkchanges.bComment{
	border: none;
}

div.bSideItem {
	background: #F7F5FA;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
	text-shadow: 0 1px 0 #FFFFFF;
	h4 {
		margin-top: 0;
	}
}

// Login/Register forms:
.skin-form {
	.panel-body {
		.panel {
			border: none;
			box-shadow: none;
		}
		.panel-body {
			padding: 0;
		}
	}
	.fieldset {
		margin: 0;
		div.input {
			margin: 0;
		}
	}
	.control-buttons, div.input {
		padding: 0;
		width: 100%;
		text-align: center;
	}
}
.wrap-form-login, .wrap-form-lostpass, .wrap-form-register, .wrap-form-activation {
	min-width: 290px;
	margin: 1.5em auto auto;
	.panel {
		margin: 5px 0;
	}
	.panel-body {
		padding: 20px 30px 0;
	}
}
.wrap-form-login {
	max-width: 400px;
}
.wrap-form-lostpass {
	max-width: 480px;
	#ffield_x label {
		display: none;
	}
}
.wrap-form-activation {
	max-width: 530px;
	#activateinfo_form .control-buttons{
		text-align: left;
	}
}
.wrap-form-register {
	max-width: 580px;
	.control-buttons{
		text-align: left;
	}
	&.register-disabled {
		width: 350px;
	}
	.form-control {
		&#country, &#u {
			width: 100%;
		}
	}
}
.form-login-links {
	padding: 0 5px;
	font-size: 92%;
}
.form-login {
	fieldset {
		margin-bottom: 20px;
	}
	.controls {
		padding: 0;
		margin: 0;
		width: 100%;
	}
	.control-buttons {
		margin-left: 0;
	}
	input.form-control[type=text], input.form-control[type=password] {
		width: 100%;
	}
	.btn {
		margin-top: 5px;
	}
	.form-actions {
		padding: 0;
		margin: 0 0 20px;
		background: none;
		border: none;
	}
}
#login_form {
	.control-buttons {
		text-align: left;
	}
}
.standard_login_link {
	text-align: center;
	margin: 3em 0 1ex 0;
}
.form_footer_notes {
	margin-top: 0;
}

// Pagination
.site_pagination {
	margin: 0;
	padding-top: 20px;
	list-style-type: none;
	padding-bottom: 30px;
	li {
		display: inline-block;
		margin-bottom: 16px;
		a, span {
			padding: 6px 10px;
		}
		a:hover {
			text-decoration: none;
		}
	}
}

// Messages
div.action_messages, div.log_container {
	margin: 0;
}

// Positions on the action buttons near page titles
.evo_post_title {
	display: table;
	h2 {
		display: table-cell;
		margin: 0;
		padding: 50px 0 10px;
	}
	.btn-group {
		display: table-cell;
		padding: 20px 0 10px 30px;
		vertical-align: middle;
	}
}

footer {
	padding: 20px 0;
	font-size: 14px;
	h4.panel-title {
		text-transform: uppercase;
		font-size: 16px;
	}
	.panel-body {
		ul,li {
			list-style: none;
			margin-left: 0;
		}
	}
	.widget_core_coll_common_links .panel-body ul li a {
		font-weight: 400 !important;
	}
}

// Calendar plugin
.widget_plugin_evo_Calr {
	.bCalendarTable {
	width: 290px;
		> caption {
			font-size: 22px;
			font-weight: normal;
		}
		.bCalendarRow {
			.bCalendarEmptyCell, .bCalendarCell {
				padding: 10px 3px;
			}
			.bCalendarHeaderCell {
				text-align: center;
			}
			#bCalendarToday {
				background-color: transparent;
				border-radius: 0px;
			}
		}
		#prev a, #next a {
			font-size: 15px;
		}
	}
}

// Comment list widget
.widget_core_coll_comment_list {
	ul li a, ul li span {
		font-weight: normal !important;
		&:hover {
			background-color: transparent !important;
		}
		& .user.anonymous {
			font-weight: normal !important;
		}
	}
}

// Catergory list widget bullets
.widget_core_coll_category_list li {
    list-style: inherit;
}

// Widget title from panel-body spacing fix
.evo_widget {
	.panel-body {
		padding-top: 0px;
	}
}

// Random photo
.widget_core_coll_media_index {
	.widget_flow_blocks .loadimg {
		border-radius: 0px;
	}
}

// Tag cloud
.widget_core_coll_tag_cloud .tag_cloud {
		a {
			padding: 2px 5px;
			border-radius: 4px;
			margin: 0px 2px 5px 0px;
			display: inline-block;
			&:hover {
				text-decoration: none;
			}
		}
}

// Sidebar styles
.sidebar {
	.widget .panel-body {
		padding-left: 0px; padding-right: 0px; padding-top: 0px;
	}
	.widget_core_coll_category_list li {
    list-style: inherit;
	}
	.compact_search_form {
		input.search_field {
			width: 100% !important;
			border-radius: 6px;
			-webkit-box-shadow: none;
			box-shadow: none;
			-webkit-transition: none;
			-o-transition: none;
		}
		input.search_submit {
			display: none;
		}
	}
}

// Remove background color from panel-headings
.styled_content_block .panel-heading a:hover, #styled_content_block .panel-heading a:hover {
	background-color:transparent;
}

// blockquote style
blockquote {
	border-left: 5px solid #ddd;
	font-size: 18px;
}

// Comments display fix
.evo_comment {
	padding: 20px;
	border-radius: 5px;
	.evo_comment_avatar img {
		float: left;
		margin: 0px 15px 15px 0px !important;
		border-radius: 0px !important;
	}
	.panel-heading {
		a span.user, a.user, > span {
			font-weight: normal !important;
			font-size: 18px;
		}
		.text-muted.small {
			font-style: italic;
		}
	}
	.comment_rating {		
		margin: 4px 0 20px;
	}
	& > p {
		padding-left: 79px;
		margin-bottom: 0px;
	}
	.action_buttons {
		display: block;
		padding-bottom: 15px;
	}
}
@media only screen and (max-width: 991px){
	.evo_comment > p {
		padding-left: 0px;
	}
}

// Comment form styles
.evo_post .evo_form {
	label {
		font-weight: bold;
		font-size: 16px;
	}
	.form_current_user a {
		font-size: 16px;
	}
	.textcomplete-wrapper textarea {
		border-radius: 8px;
		box-shadow: none !important;
		resize: vertical;
	}
	.help-inline span {
		float: right;
		//margin-top: -22px;
	}
	.control-buttons input {
		margin-bottom: 5px;
	}
}

#menu .ufld_icon_links {
	float: right;
}
.slicknav_menu {
	display:none;
	.ufld_icon_links a {
		display: inline-block;
		line-height: 32px;
		padding: 0px !important;
	}
}
.slicknav_nav .ufld_icon_links {
	margin: 7px 0px;
}

.evo_intro_post, .evo_featured_post {
	.post_title {
		h2 {
			display: inline-block;
		}
		.btn-group {
			vertical-align: baseline;
			margin-left: 15px;
		}
	}
}

// Other disps fixes
.evo_image_index div {
	background: transparent !important;
	border: none !important;
	&:hover {
		background: transparent !important;
	}
}